.dialog-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.5);
}

.dialog-form {
  width: 30%;
  background-color: var(--slate);
  padding: 2rem;
  border-radius: 10px;
  height: max-content;
}

.dialog-form h1,
.dialog-form p {
  margin: auto;
  text-align: center;
}

.dialog-form label,
.dialog-form input {
  margin-left: 0.5rem;
  align-self: center;
}
