.head {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  padding: 0 3rem;
}

/* .header-nav {
  margin-left: auto;
}

.header-nav ul {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
}

.header-nav ul li {
  list-style: none;
} */
