@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url(styles.css);
@import url(header.css);
@import url(footer.css);
@import url(hero-section.css);
@import url(form.css);
@import url(dialog.css);

@import url(media-queries.css);
:root {
  --primary-color: #1d4ed8;
  --primary-light: #3b82f6;
  --primary-dark: #1e3a8a;
  --secondary-color: #f0c65d;
  --secondary-dark: #a37e1f;
  --accent-color: #fbbf24;
  --text-color: #292524;
  --background-color: #f1f5f9;
  --slate: hsl(210, 40%, 86%);
  --grey: hsl(218, 11%, 65%);
  --grey-dark: hsl(215, 14%, 34%);
  --neutral: hsl(0, 0%, 25%);
}
