@media only screen and (max-width: 320px) {
  .state-container,
  .district-container {
    font-size: 1.2rem;
  }
  .state-container select,
  .district-container select {
    width: 8rem;
    font-size: 1rem;
  }

  .main h1 {
    font-size: 1rem;
  }
  .dialog-container .form-container {
    width: 90%;}
}

@media only screen and (max-width: 668px) {
  .state-container select,
  .district-container select {
    width: 12rem;
    font-size: 1.2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  .form-arrow {
    width: 2rem;
  }

  option {
    font-size: 1rem;
  }
  .dialog-container .form-container {
    width: 90%;}
}

@media only screen and (max-width: 860px) {
  .state-container,
  .district-container {
    flex-direction: column;
  }
  .main h1 {
    text-align: center;
  }
  .dialog-container .form-container {
    width: 90%;}
}
